# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.gaxgiqyqjdnuqcfbjmmk:Priyanshu%401@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.gaxgiqyqjdnuqcfbjmmk:Priyanshu%401@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="language_metrics_super_secure_key_2026_x89a!d"

PORT=5000
